body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav {
    background-color: gray;
    color: white;
    width: 100%;
  }
  nav .mobile {
    display: none;
  }
  
  nav .logo {
    min-width: 250px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
  }
  
  nav a:hover {
    color: black;
    background-color: rgb(191, 202, 206);
  }
  
  nav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav .desktop .primary,
  nav .desktop .secondary {
    display: flex;
  }
  
  nav .secondary.full {
  }
  
  nav .secondary.mini {
    display: none;
  }
  
  @media screen and (max-width: 894px) {
    nav .logo {
      min-width: 100px;
    }
  
    nav .secondary.full {
      display: none;
    }
  
    nav .secondary.mini {
      display: block;
    }
  
    nav .secondary.mini .submenu {
      position: absolute;
      display: none;
    }
  }
  
  @media screen and (max-width: 516px) {
    nav .desktop {
      display: none;
    }
  
    nav .mobile {
      display: block;
    }
  
    nav .mobile .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    nav .mobile .header .logo {
      flex: 1;
      text-align: center;
    }
  
    nav .mobile .header .more button {
      padding: 20px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 16px;
    }
    nav .mobile .header .more button:hover {
      background-color: white;
      color: black;
    }
  }
  .zxsw{
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .ffrs{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .cawrs{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .nnsw{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .vvewas{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .rggks{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}
.alert>.start-icon {
    margin-right: 5px;
}
.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(165, 201, 243, 0.122);
    box-shadow: 0px 0px 2px #0396ff;
    color: gray;
  transition:0.5s;
  cursor:pointer;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.blue-cross
{
  font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
