.container {
	position: relative;
	width: 50%;
  }
  
  .image {
	display: block;
	width: 50%;
	height: auto;
  }
  
  .overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
  }
  
  .container:hover .overlay {
	width: 100%;
  }
  
  .text {
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

  .clas{
	white-space: nowrap; 
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	margin-top: 6%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }

  .weede img{
	border-radius: 8px;
	padding: auto;
}

body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: #414141;
}

.zaqaq h1{
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.wewrs h1{
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.sdfr h1{
	color: yellow;
	text-shadow: -1px 0 black , 0 1px black , 1px 0 black , 0 -1px black ;
}

.ñlotr img{
	border-radius: 8px;
	padding: auto;
}

body {margin:25px;}

img {width: 20%}


div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.zzza{
	padding: auto;
    margin: 30px;
}

.FFMS{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

form{
	width: 90%;
	max-width: 600px;
}

.input-group{
	margin-bottom: 30px;
}
